<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">&copy; 2022 Iara Cabrera, Inc</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
            <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146z"/>
          </svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#about" class="nav-link px-2 text-muted">Sobre mi</a></li>
        <li class="nav-item"><a href="#experience" class="nav-link px-2 text-muted">Experiencia</a></li>
        <li class="nav-item"><a href="#edu" class="nav-link px-2 text-muted">Educación</a></li>
        <li class="nav-item"><a href="#skills" class="nav-link px-2 text-muted">Habilidades</a></li>
        <li class="nav-item"><a href="#works" class="nav-link px-2 text-muted">Proyectos</a></li>
      </ul>
    </footer>
  </div>