<!--About me starts -->
<div id="about" class="container mt-5 pb-5"> 
    <div class="post-heading text-center">
      <h2 class="display-4 font-weight-bold ">{{miPortfolio.titleabout}}</h2>
      <hr class="w-50 mx-auto">
      </div>
    <div class="row sobre-mi">
      <div class="col-lg-6 col-md-6 col-12">
        <img [src]="miPortfolio.profilepic" class="img-fluid">
      </div>
      <div class="col-lg-6 col-md-6 col-12">
       <h2>{{miPortfolio.profession}}</h2>
       <hr> 
       <p>{{miPortfolio.descriptionabout}}</p>
      </div>
    </div>
    </div>
