<section class="skills" id="skills">
<div class="post-heading text-center">
    <h2 class="display-4 font-weight-bold ">{{miPortfolio.skillstitles[0]}}</h2>
    <hr class="w-50 mx-auto">
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
                    <h3>{{miPortfolio.skillstitles[1]}}</h3>
                    <div class="skills_main">
                        <div class="skill_bar">
                            <div class="info">
                                <p>HTML</p>
                                <P>75%</P>
                            </div>
                            <div class="bar">
                                <span class="html"></span>
                            </div>
                        </div>
                        <div class="skill_bar">
                            <div class="info">
                                <p>CSS</p>
                                <P>70%</P>
                            </div>
                            <div class="bar">
                                <span class="css"></span>
                            </div>
                        </div>
                        <div class="skill_bar">
                            <div class="info">
                                <p>JAVA</p>
                                <P>50%</P>
                            </div>
                            <div class="bar">
                                <span class="sass"></span>
                            </div>
                        </div>
                        <div class="skill_bar">
                            <div class="info">
                                <p>Java Script</p>
                                <P>60%</P>
                            </div>
                            <div class="bar">
                                <span class="js"></span>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="professional-skills">
                <h3>{{miPortfolio.skillstitles[2]}}</h3>
                <div class="skills_main">
                    <div class="skill_bar">
                          <div class="info">
                              <p>Comunicación</p>
                              <P>80%</P>
                          </div>
                          <div class="bar">
                              <span class="react"></span>
                          </div>
                      </div>
                      <div class="skill_bar">
                          <div class="info">
                              <p>Creatividad</p>
                              <P>85%</P>
                          </div>
                          <div class="bar">
                              <span class="node"></span>
                          </div>
                      </div>
                      <div class="skill_bar">
                          <div class="info">
                              <p>Trabajo Grupal</p>
                              <P>70%</P>
                          </div>
                          <div class="bar">
                              <span class="express"></span>
                          </div>
                      </div>
                      <div class="skill_bar">
                          <div class="info">
                              <p>Adaptabilidad</p>
                              <P>75%</P>
                          </div>
                          <div class="bar">
                              <span class="mongo"></span>
                          </div>
                      </div>
                  </div>
                

            </div>

        </div>
    </div>
    </div>
</section>