<!--Exp starts -->
<section class="exp">
<div id="experience" class="container mt-3 pb-5">
  <div class="post-heading text-center">
    <h2 class="display-4 font-weight-bold ">Experiencia</h2>
    <hr class="w-50 mx-auto">
    </div>
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-controls">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active" style="background-image:url('../../../assets/images/carrousel-1.jpg')"></li>
          <li data-target="#carousel" data-slide-to="1" style="background-image:url('../../../assets/images/carrousel-2.jpg')"></li>
          <li data-target="#carousel" data-slide-to="2" style="background-image:url('../../../assets/images/carrousel-3.jpg')"></li>
         
        </ol>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
         <img src="../../../assets/images/left-arrow.svg" alt="Prev">
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <img src="../../../assets/images/right-arrow.svg" alt="Next">
      </a>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image:url('../../../assets/images/carrousel-1.jpg')">
          <div class="container">
             <h2>{{miPortfolio.slide1[0]}}</h2>
             <p>{{miPortfolio.slide1[1]}} </p>
          </div>
        </div>
        <div class="carousel-item" style="background-image:url('../../../assets/images/carrousel-2.jpg')">
          <div class="container">
             <h2>{{miPortfolio.slide2[0]}}</h2>
             <p>{{miPortfolio.slide2[1]}} </p>
          </div>
        </div>
        <div class="carousel-item" style="background-image:url('../../../assets/images/carrousel-3.jpg')">
          <div class="container">
             <h2>{{miPortfolio.slide3[0]}}</h2>
             <p>{{miPortfolio.slide3[1]}}</p>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>
    
    <!--Exp ends -->
